# Virtual environment
/myenv

# VS Code settings
.vscode/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# OS junk
.DS_Store

# secret key
backend/secret.key

#dummy data files
backend/seed_data.py
dummy_data.txt

